<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#vanlife</title>
</head>
<body>

	<h1>Aloha</h1>

	<form method="post" enctype="multipart/form-data">
		<input type="file" name="new-file">
		<input type="submit">
	</form>

	<div>
		{{range .}}
		<p>{{.}}</p>
		{{end}}
	</div>

</body>
</html>